<!-- <main class="flex h-full w-full ">
    <div class="w-2/12">
        <section class="h-[100vh]">
            <app-sid ebarprincipalweb class="h-full"></app-sid>
        </section>
    </div>
    <div class="w-10/12">
        <section class="h-[10vh]">
            <app-navbarprincipalweb></app-navbarprincipalweb>
        </section>
        <section class="h-[90vh]">
       
            <router-outlet class="h-full"></router-outlet>
        </section>
    </div>
</main> -->