
<!-- <app-loading></app-loading> -->
<main class="h-full">
    <section class="h-[10vh]">
        <app-navbarlogin class="h-full" ></app-navbarlogin>
    </section>
    <section class="h-[90vh]">
       
        <router-outlet class="h-full"></router-outlet>
    </section>
</main>