<!-- <main class="bg-red-500 h-full">
    <mat-accordion >
        <mat-expansion-panel class="relative flex items-center" >
            <mat-expansion-panel-header 
             class="flex items-center  text-sm w-full  text-gray-600   focus:outline-none hover:bg-amarillo-500 focus:text-amarillo-500 ">
                <div class="flex items-center">
                    <div class="pl-2">                              
                        <svg class="h-6 w-6" fill="currentColor" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false"  style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><path d="M16 3c-.625 0-1.246.21-1.781.594L12.563 4.75L10.655 5h-.031l-.031.031A3.394 3.394 0 0 0 8.03 7.594L8 7.625v.031l-.25 1.938l-1.156 1.5l-.032.031v.031c-.699 1.117-.73 2.559.032 3.625l1.187 1.656l.313 1.72l-3.219 4.905l-1.031 1.532h4.781l1.156 2.687L10.5 29l1.031-1.563l3.156-4.75c.848.348 1.805.38 2.626 0l3.156 4.75L21.5 29l.719-1.719l1.156-2.687h4.781l-1.031-1.532L24 18.313l.25-1.875l1.156-1.656l.032-.031v-.031c.699-1.117.73-2.528-.032-3.594L24.25 9.469l-.375-1.875h.031c-.004-.024-.027-.04-.031-.063c-.18-1.308-1.215-2.37-2.531-2.531h-.032l-1.875-.25l-1.656-1.156A3.074 3.074 0 0 0 16 3zm0 2.031c.23 0 .457.07.625.188L18.406 6.5l.219.156l.25.032L21.063 7h.03c.45.05.762.363.813.813v.062l.407 2.219l.03.219l.157.187l1.281 1.781c.239.332.27.895-.031 1.375l-1.406 1.969l-.032.25L22 18.063v.03a.994.994 0 0 1-.156.438l-.063.032v.03a.88.88 0 0 1-.593.313h-.063l-2.281.407l-.25.03l-.188.157l-1.781 1.281c-.332.239-.926.27-1.406-.031l-1.625-1.25l-.188-.156l-.281-.032L10.937 19h-.03a.885.885 0 0 1-.688-.438a.99.99 0 0 1-.125-.375v-.062l-.406-2.281l-.032-.25l-.156-.188l-1.281-1.781c-.239-.332-.27-.926.031-1.406l1.25-1.625l.156-.188l.031-.281l.282-2.094c.004-.015.027-.015.031-.031a1.394 1.394 0 0 1 1-1c.016-.004.016-.027.031-.031l2.094-.282l.25-.03l.219-.157l1.781-1.281c.168-.117.395-.188.625-.188zm6.906 15.219l1.532 2.344H22.03l-.25.625l-.687 1.593l-2.125-3.25l.468-.343l1.97-.344v.031c.023-.004.038-.027.062-.031a2.97 2.97 0 0 0 1.437-.625zm-13.812.031a2.85 2.85 0 0 0 1.562.719h.031l1.907.25l.437.344l-2.125 3.218l-.687-1.593l-.25-.625H7.563z" /></svg>
                    </div>
                    <span class="pl-7 font-medium">Certificados</span>
                </div>
            </mat-expansion-panel-header>
            <ul>                       
                <div class=" pl-6 sidebar-nav-item-sub" #Certificado>
                    <a>
                        <div class="">
                            <svg class=" h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet"
                                viewBox="0 0 24 24">
                                <path
                                    d="M8 12h8v2H8v-2m2 8H6V4h7v5h5v3.1l2-2V8l-6-6H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h4v-2m-2-2h4.1l.9-.9V16H8v2m12.2-5c.1 0 .3.1.4.2l1.3 1.3c.2.2.2.6 0 .8l-1 1l-2.1-2.1l1-1c.1-.1.2-.2.4-.2m0 3.9L14.1 23H12v-2.1l6.1-6.1l2.1 2.1z" />
                            </svg>
                        </div>
                        <span class="text-sm font-medium">Registro certificados</span>
                    </a>
                </div>
            
                <div class="pl-6 sidebar-nav-item-sub" #ReporteCertificado>
                    <a 
                        class="sidebar-nav-link  hover:bg-yellow-50 hover:text-amarillo-600" >
                       
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" class=" h-4 w-4 " fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M9 17v-2m3 2v-4m3 4v-6m2 10H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                            </svg>
                        </div>
                        <span class="text-sm font-medium">Reporte certificados </span>
                    </a>
                </div>
            </ul>
        </mat-expansion-panel>
    
        <mat-expansion-panel class="relative flex items-center" >
     
            <mat-expansion-panel-header
                class="flex items-center  text-sm w-full  text-gray-600   focus:outline-none hover:bg-amarillo-500 focus:text-amarillo-500 ">
                <div class="flex items-center">
                    <div class="pl-2">   
                        <svg class="h-5 w-5" fill="currentColor" id="Capa_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><g><path d="m497 60h-22.5v-22.5c0-4.142-3.357-7.5-7.5-7.5h-22.5v-22.5c0-4.142-3.357-7.5-7.5-7.5h-332c-4.143 0-7.5 3.358-7.5 7.5v324.5h-82.5c-4.143 0-7.5 3.358-7.5 7.5 0 28.949 23.552 52.5 52.5 52.5h332c28.948 0 52.5-23.551 52.5-52.5v-294.5h15v422h-332v-52.5c0-4.142-3.357-7.5-7.5-7.5s-7.5 3.358-7.5 7.5v60c0 4.142 3.357 7.5 7.5 7.5h22.5v22.5c0 4.142 3.357 7.5 7.5 7.5h347c4.143 0 7.5-3.358 7.5-7.5v-437c0-4.142-3.357-7.5-7.5-7.5zm-437 317c-18.109 0-33.262-12.905-36.747-30h316.781c1.677 11.673 7.208 22.118 15.259 30zm369.5-37.5c0 20.678-16.822 37.5-37.5 37.5s-37.5-16.822-37.5-37.5c0-4.142-3.357-7.5-7.5-7.5h-234.5v-317h317zm60 157.5h-332v-15h309.5c4.143 0 7.5-3.358 7.5-7.5v-399.5h15z"/><path d="m271 60c-12.406 0-22.5 10.093-22.5 22.5v122c0 12.407 10.094 22.5 22.5 22.5s22.5-10.093 22.5-22.5v-122c0-12.407-10.094-22.5-22.5-22.5zm7.5 144.5c0 4.136-3.364 7.5-7.5 7.5s-7.5-3.364-7.5-7.5v-122c0-4.136 3.364-7.5 7.5-7.5s7.5 3.364 7.5 7.5z"/><path d="m271 242c-12.406 0-22.5 10.093-22.5 22.5s10.094 22.5 22.5 22.5 22.5-10.093 22.5-22.5-10.094-22.5-22.5-22.5zm0 30c-4.136 0-7.5-3.364-7.5-7.5s3.364-7.5 7.5-7.5 7.5 3.364 7.5 7.5-3.364 7.5-7.5 7.5z"/></g></svg>                           
                    </div>
                    <span class="pl-7 font-medium">Inventario</span>
                </div>
            </mat-expansion-panel-header>
            <ul>                       
                <li class=" pl-6 sidebar-nav-item-sub " #ActivosFijos>
                    <a >
                       
                        <div class="">
                            <svg class="h-3 w-3" fill="currentColor" id="Layer_1" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg" 
                            data-name="Layer 1">
                            <path d="m80.075 233.13h57.425a8.752 8.752 0 0 0 8.743-8.74v-19.414a6 6 0 0 0 -12 0v16.154h-50.911v-50.83h25.455a6 6 0 0 0 0-12h-28.712a8.751 8.751 0 0 0 -8.743 8.74v57.35a8.752 8.752 0 0 0 8.743 8.74z"/><path d="m151.2 154.933a6 6 0 0 0 -8.45.774l-28.622 34.393-9.184-7.431a6 6 0 1 0 -7.544 9.331l11.04 8.932a9.512 9.512 0 0 0 12.71-.562l.241-.231 30.584-36.754a6 6 0 0 0 -.775-8.452z"/><path d="m442.1 162.482h-234.125a6 6 0 0 0 0 12h234.125a6 6 0 0 0 0-12z"/><path d="m442.1 212.193h-234.125a6 6 0 0 0 0 12h234.125a6 6 0 0 0 0-12z"/><path d="m140.243 326.144a6 6 0 0 0 -6 6v16.156h-50.911v-50.832h25.455a6 6 0 0 0 0-12h-28.712a8.752 8.752 0 0 0 -8.743 8.74v57.35a8.752 8.752 0 0 0 8.743 8.741h57.425a8.752 8.752 0 0 0 8.743-8.741v-19.414a6 6 0 0 0 -6-6z"/><path d="m151.2 282.1a6 6 0 0 0 -8.45.775l-28.619 34.392-9.184-7.43a6 6 0 1 0 -7.548 9.328l11.04 8.932a9.513 9.513 0 0 0 12.71-.561l.241-.232 30.584-36.754a6 6 0 0 0 -.774-8.45z"/><path d="m442.1 289.65h-48.748a6 6 0 0 0 0 12h48.748a6 6 0 1 0 0-12z"/><path d="m284.014 289.65h-76.039a6 6 0 0 0 0 12h76.039a6 6 0 0 0 0-12z"/><path d="m228.468 339.362h-20.493a6 6 0 1 0 0 12h20.493a6 6 0 1 0 0-12z"/><path d="m472.364 10h-432.728a27.665 27.665 0 0 0 -27.636 27.632v358.6a27.656 27.656 0 0 0 27.594 27.631l228.837 1.619 11.592 45.552c.02.081.043.162.067.243a42.821 42.821 0 0 0 41.266 30.723h83.659a43.143 43.143 0 0 0 43.085-43.1v-33.7l24.439-1.333a27.666 27.666 0 0 0 27.461-27.632v-358.603a27.665 27.665 0 0 0 -27.636-27.632zm-432.728 12h432.728a15.651 15.651 0 0 1 15.636 15.632v60.749h-464v-60.749a15.651 15.651 0 0 1 15.636-15.632zm396.464 436.9a31.13 31.13 0 0 1 -31.085 31.1h-83.659a30.891 30.891 0 0 1 -29.736-22.051l-12.7-49.911a212.685 212.685 0 0 0 -11.938-34.3l-.982-2.33a39.484 39.484 0 0 1 32.5 17.06l10.318 14.949v22.283a6 6 0 0 0 12 0v-163.071a11.286 11.286 0 1 1 22.572 0v106.507a5.989 5.989 0 0 0 .256 1.73v24.459a6 6 0 0 0 12 0v-33.511a8.95 8.95 0 1 1 17.9 0v6.8a21.7 21.7 0 0 0 -.234 3.163v23.552a6 6 0 0 0 6 6h.117s.077 0 .117 0a6 6 0 0 0 6-6v-25.642a9.628 9.628 0 0 1 19.031 2.086v29.775a6 6 0 0 0 12 0v-20.371a9.761 9.761 0 1 1 19.521 0zm36.266-47.029c-.109 0-.218 0-.327.01l-23.939 1.3v-22a21.741 21.741 0 0 0 -33.459-18.341 21.609 21.609 0 0 0 -30.925-9.553 20.858 20.858 0 0 0 -28.324-10.267v-80.391a23.286 23.286 0 1 0 -46.572 0v119.663l-.442-.64a51.476 51.476 0 0 0 -42.378-22.244 12.043 12.043 0 0 0 -10.99 16.963l1.011 2.262a200.728 200.728 0 0 1 9.18 24.829l-225.569-1.6a15.651 15.651 0 0 1 -15.632-15.627v-285.854h464v285.854a15.651 15.651 0 0 1 -15.636 15.631z"/><path d="m62.2 82.431a23 23 0 1 0 -23-23 23.024 23.024 0 0 0 23 23zm0-33.992a11 11 0 1 1 -11 11 11.01 11.01 0 0 1 11-11z"/><path d="m122.833 82.431a23 23 0 1 0 -23-23 23.024 23.024 0 0 0 23 23zm0-33.992a11 11 0 1 1 -11 11 11.01 11.01 0 0 1 11-11z"/><path d="m183.467 82.431a23 23 0 1 0 -23-23 23.024 23.024 0 0 0 23 23zm0-33.992a11 11 0 1 1 -11 11 11.01 11.01 0 0 1 11-11z"/><path d="m273 64.3h194.933a6 6 0 0 0 0-12h-194.933a6 6 0 0 0 0 12z"/></svg>
                        </div>
                        <span class="text-sm font-medium">Registro de bienes</span>
                    </a>
                </li>
            </ul>
        </mat-expansion-panel>
    </mat-accordion>
</main> -->

<span class="font-LuckiestGuy flex justify-center text-white text-2xl h-[10vh] items-center"> Menu </span>
<div class="row">
  <div class="col">
    <div class="tabs">
      <div class="tab">
        <input type="radio" id="rd1" name="rd">
        <label class="tab-label" for="rd1" [routerLink]="['css-html']">HTML-CSS</label>
        <div class="tab-content flex flex-col  space-y-3 ">
         <label class="boton " routerLinkActive="router-link-active" [routerLink]="['botones']"  >Botones</label>
         <label class="boton " routerLinkActive="router-link-active" [routerLink]="['carrusel']" >Carrusel</label>
         <label class="boton " routerLinkActive="router-link-active"  >Botones</label>
         <label class="boton " routerLinkActive="router-link-active">carrusel infinito</label>
         <label class="boton " routerLinkActive="router-link-active">slider</label>
        </div>
      </div>
      <div class="tab">
        <input type="radio" id="rd2" name="rd">
        <label class="tab-label" for="rd2">HTML-CSS-TS</label>
        <div class="tab-content flex flex-col space-y-3">
            <label class="boton" routerLinkActive="router-link-active"  >Acordion</label>
            <label class="boton" routerLinkActive="router-link-active" [routerLink]="['slider1']" >Inicio</label>
            <label class="boton" routerLinkActive="router-link-active"  >Botones</label>
            <label class="boton" routerLinkActive="router-link-active">carrusel infinito</label>
            <label class="boton" routerLinkActive="router-link-active">slider</label>
        </div>
      </div>
      <div class="tab">
        <input type="radio" id="rd3" name="rd">
        <label class="tab-label" for="rd3">ANGULAR MATERIAL</label>
        <div class="tab-content flex flex-col space-y-3">
            <label class="boton" routerLinkActive="router-link-active"  >Acordion</label>
            <label class="boton" routerLinkActive="router-link-active" [routerLink]="['slider1']" >Inicio</label>
            <label class="boton" routerLinkActive="router-link-active"  >Botones</label>
            <label class="boton" routerLinkActive="router-link-active">carrusel infinito</label>
            <label class="boton" routerLinkActive="router-link-active">slider</label>
        </div>
      </div>
      <div class="tab">
        <input type="radio" id="rd4" name="rd">
        <label class="tab-label" for="rd4">ANGULAR MATERIAL</label>
        <div class="tab-content flex flex-col space-y-3">
            <label class="boton" routerLinkActive="router-link-active"  >Acordion</label>
            <label class="boton" routerLinkActive="router-link-active" [routerLink]="['slider1']" >Inicio</label>
            <label class="boton" routerLinkActive="router-link-active"  >Botones</label>
            <label class="boton" routerLinkActive="router-link-active">carrusel infinito</label>
            <label class="boton" routerLinkActive="router-link-active">slider</label>
        </div>
        
      </div>
     


      <div class="tab">
        <input type="radio" id="rd5" name="rd">
        <label for="rd5" class="tab-close">Cerrar acordión</label>
      </div>
    </div>
  </div>
</div>