body {
    color: #2c3e50;
    background: #ecf0f1;
    padding: 0 1em 1em;
}
h1 {
    margin: 0;
    line-height: 2;
    text-align: center;
}
h2 {
    margin: 0 0 0.5em;
    font-weight: normal;
}
input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.row {
    display: flex;
}
.row .col {
    flex: 1;
}
/* .row .col:last-child {
    margin-left: 1em;
} */
/* Accordion styles */
.tabs {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
.tab {
    width: 100%;
    color: white;
    overflow: hidden;
}
.tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: #2c3e50;
    /* font-weight: bold; */
    cursor: pointer;
   /* Icon */
}
.tab-label:hover {
    background: #1a252f;
}
.tab-label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
}
.tab-content {
    max-height: 0;
    padding: 0 1em;
    color: #2c3e50;
    background: white;
    transition: all 0.35s;
    background: #121213;
}
.tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: #2c3e50;
    cursor: pointer;
}
.tab-close:hover {
    background: #1a252f;
}
input:checked + .tab-label {
    background: #1a252f;
}
input:checked + .tab-label::after {
    transform: rotate(90deg);
}
input:checked ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
}

.boton{
   
    /* border-bottom-width: 2px;
    border-left-width:2px ;
    --tw-border-opacity: 1;
    border-color: rgb(31 41 55 / var(--tw-border-opacity)); */
    cursor: pointer;
    background: #121213;
    padding: 1em;
    color: white;
    font-weight: 500;
    background-color: #5c6061ce;
  
    border-color: rgb(250 250 250 );
    border-radius: 8rem;
    /* border-left-width: 10px ; */
}

.router-link-active {
    color: white;
    font-weight: 500;
    background-color: #1acbeece;
    padding: 1em;
    border-color: rgb(250 250 250 );
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 8rem;
    /* border-left-width: 10px ; */
    /* padding: 1rem; */
  }



