
<app-loading></app-loading>
<mat-drawer-container class="flex h-full w-full ">
    <mat-drawer mode="side" [opened]="sideBarOpen" class="w-2/12">
        <section class="h-[100vh]">
            <app-sidebarprincipalweb  class="h-full"></app-sidebarprincipalweb>
        </section>
    </mat-drawer>
    <mat-drawer-content class="w-10/12">
        <section class="h-[10vh]">
            <app-navbarprincipalweb></app-navbarprincipalweb>
        </section>
        <section class="h-[90vh]">
            <router-outlet class="h-full"></router-outlet>
        </section>
    </mat-drawer-content>
</mat-drawer-container>

<!-- <main class="flex h-full w-full ">
    <div class="w-2/12">
        <section class="h-[100vh]">
            <app-sidebarprincipalweb ebarprincipalweb class="h-full"></app-sidebarprincipalweb>
        </section>
    </div>
    <div class="w-10/12">
        <section class="h-[10vh]">
            <app-navbarprincipalweb></app-navbarprincipalweb>
        </section>
        <section class="h-[90vh]">
            <router-outlet class="h-full"></router-outlet>
        </section>
    </div>
</main> -->