:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
mat-drawer {
    width: 260px;
  }
  mat-drawer-container {
    height: 100%;
  }
  
  mat-drawer {
    background: #1F445D;
    position: relative;
    z-index: 4;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 3;
    outline: 0;
    box-sizing: border-box;
    overflow-y: hidden;
    transform: translate3d(-100%, 0, 0);
  }

