<main class="">
    <!---------------------------------------------- slider  de 3 cerros ---------------------------->
    <header class="contsliders">
        <div class="container-all">
            <input type="radio" id="1" name="image-slide" class="hidden" />
            <input type="radio" id="2" name="image-slide" class="hidden" />
            <input type="radio" id="3" name="image-slide" class="hidden" />
            <input type="radio" id="4" name="image-slide" class="hidden" />
            <div class="slide">
                <div class="item-slide">
                    <img class=" sliders pc" src="assets/web/png/slider/code.png">
                    <img class=" tabled sliders" src="assets/web/png/slider/lcode.png">
                    <img class=" movil sliders" src="assets/web/png/slider/macode.png">
                    <div class="contslider h-full ">
                        <div class="sli">
                            <div class="contcontenido container">
                                
                                <code class="titu" style="line-height: 45px;">LIBRERÍA DE CODIGOS <span class="text-[#C28C2E] ">(CODE BOOKSTORE)</span> </code>
                               
                                <div class="animated fadeInUp text-white text-sm sm:text-lg md:text-xl 2xl:text-2xl tracking-wider font-normal ease-out-circ d-1 a-2 leading-relaxed sm:leading-loose "> Aquí encontraremos componentes útiles en <br class="hidden sm:flex">  CSS - HTML - TypeScript y Angular Material  </div>
                                <div class="animated bounceIn ease-in-quad d-2 md:mt-4 ">
                                <button [routerLink]="'inicio'"  routerLinkActive="active" class=" bw1 b  fw9 pa3 br3 font-bold border-none  bg-yellow-600 sm:py-3 py-2 px-4  2xl:py-5 text-black  md:px-6  text-sm lg:text-base 2xl:text-xl  hover:bg-yellow-500 transition duration-500 ease-in rounded-md focus:outline-none">
                                    Vamos a ello
                                </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                
                <div class="item-slide">
                    <img class="sliders pc" src="assets/web/png/slider/shtmlcss.png">
                    <img class="sliders tabled" src="assets/web/png/slider/lhtmlcss.png">
                    <img class="sliders movil" src="assets/web/png/slider/mhtmlcss.png">
                    <div class="contslider h-full">
                        <div class="sli">
                            <div class="contcontenido container">
                                <code class="titu" style="line-height: 45px;">HTML-CSS</code>
                                <div class="animated fadeInUp text-white text-sm lg:text-base 2xl:text-2xl font-normal ease-out-circ d-1 a-2 leading-relaxed sm:leading-loose"> HTML y CSS para el desarrollo web de su negocio, <br class="hidden sm:flex">  optimizar de manera efectiva la experiencia de sus usuarios. </div>
                                <div class="animated bounceIn ease-in-quad d-2 md:mt-4 ">
                                <a href="https://www.crehana.com/cr/blog/desarrollo-web/sabes-que-es-css-y-como-se-relaciona-con-html/" target="_blank" rel="noopener noreferrer" routerLinkActive="active" class=" bw1 b fw9 pa3 br3 font-bold border-none bg-yellow-600 sm:py-3 py-2 px-4  2xl:py-5 text-black md:px-6 text-sm 2xl:text-xl hover:bg-yellow-500 transition duration-500 ease-in rounded-md focus:outline-none">
                                    Saber mas sobre ello
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="item-slide">
                    <img class="sliders pc" src="assets/web/png/slider/htmlcssts.png">
                    <img class="sliders tabled" src="assets/web/png/slider/lhtmlcssts.png">
                    <img class="sliders movil" src="assets/web/png/slider/mhtmlcssts.png">
                    <div class="absolute flex items-center h-full">
                        <div class="fondoslider01 md:px-28 md:pl-14 lg:pl-8 sm:pl-8 px-2 ">
                            <div class="block text-white  container mx-auto space-y-3 sm:space-y-5 lg:space-y-9 text-center sm:text-left">
                                <code class="titu" style="line-height: 45px;">HTLM , CSS y TYPESCRIPT</code>
                                <div class="animated fadeInUp text-white text-sm lg:text-base 2xl:text-2xl font-normal ease-out-circ d-1 a-2 leading-relaxed sm:leading-loose  "> Esta convinación es sumamento común en angular <br class="hidden sm:flex">  el cual nos ayudara a interactuar de una manera muy fluida. </div>
                                <div class="animated bounceIn ease-in-quad d-2 md:mt-4 ">
                                <a href="https://www.crehana.com/pe/blog/desarrollo-web/que-es-typescript/" target="_blank" rel="noopener noreferrer" routerLinkActive="active" class=" bw1 b fw9 pa3 br3 font-bold border-none  bg-yellow-600 sm:py-3 py-2 px-4  2xl:py-5 text-black  md:px-6  text-sm 2xl:text-xl  hover:bg-yellow-500 transition duration-500 ease-in rounded-md focus:outline-none">
                                    Saber mas sobre ello
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="item-slide">
                    <!-- LAPTOP - GRANDES - PC - MEDIANOS -->
                    <img class="laptogrande-pcmediana sliders object-cover" src="assets/web/png/slider-ofi/xlangularmaterial.png">
                    <!-- LAPTOP - MEDIANAS -->
                    <img class="laptopmediano sliders" src="assets/web/png/slider-ofi/langularmaterial.png">               
                    <!-- TABLED -->
                    <img class=" tabled sliders" src="assets/web/png/slider-ofi/tangularmaterial.png">         
                    <!-- MOVIL -->
                    <img class=" movil sliders" src="assets/web/png/slider-ofi/mangularmaterial.png">
                    <div class="absolute flex items-center h-full">
                        <div class="fondoslider01md:px-28 md:pl-14 lg:pl-8 sm:pl-8 px-2 ">
                            <div class="block text-white  container mx-auto space-y-2 sm:space-y-5 lg:space-y-9 text-center sm:text-left">
                                <code class="titu" style="line-height: 45px;">ANGULAR MATERIAL</code>
                                <div class="animated fadeInUp text-white text-xs  sm:text-base lg:text-base 2xl:text-2xl  ease-out-circ d-1 a-2 leading-relaxed sm:leading-loose  "> Si estás usando Angular 6 en adelante, puedes descargar Angular Material <br class="hidden sm:flex">  usando el nuevo comando de Angular CLI. </div>
                                <div class="animated bounceIn ease-in-quad d-2 md:mt-4 ">
                                <a href="https://codingpotions.com/angular-material" target="_blank" rel="noopener noreferrer" routerLinkActive="active" class=" bw1 b fw9 pa3 br3 font-bold border-none  bg-yellow-600 sm:py-3 py-2 px-4  2xl:py-5 text-black  md:px-6  text-sm 2xl:text-xl  hover:bg-yellow-500 transition duration-500 ease-in rounded-md focus:outline-none">
                                    Saber mas sobre ello
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="pagination">
                <label class="pagination-item " for="1"><img src="assets/web/svg/slider/slider1.svg"></label>
                <label class="pagination-item " for="2"><img src="assets/web/svg/slider/slider2.svg"></label>
                <label class="pagination-item " for="3"><img src="assets/web/svg/slider/slider3.svg"></label>
                <label class="pagination-item " for="4"><img src="assets/web/png/slider/slider4.png"></label>
            </div>
        </div>
    </header>
    <div class="contcuerpo text-black h-[45vh] w-full flex items-center   ">
       
        
    </div>

   
</main>

