@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Arimo:wght@700&family=Arizonia&family=Artifika&family=Berkshire+Swash&family=Lobster&family=Luckiest+Guy&family=Manrope:wght@500&family=Oleo+Script&family=Poppins:wght@500&family=Roboto:wght@500&family=Tangerine:wght@700&display=swap');
 
 /*-------------------------------------------------------------------------- SLIDER RESPONSIVE PERSONALIZABLE---------------------------------------------------------- */
 
  .contsliders{
  max-width: 100%;
  height: 45vh;
  font-family: Oleo Script;
 }



.container-all {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slide {
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: all 900ms;
  animation-name: autoplay;
  animation-duration: 35.5s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.item-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
  height: 45vh;
}


.sliders {
  max-width: 100%;
  height: 45vh;
  font-family: Oleo Script;
}

.pc{
  display: none;
  object-fit: cover;
}

/* .tabled{
  display: none;
  background-size: contain;
  height: 100%;
}

.movil{
  display: flex;
  background-size: contain;
  height: 100%;
} */

.movil{
  display: flex;
  background-size: contain;
  object-fit: cover;
  height: 100%;
}

.tabled{
  display: none;
  background-size: contain;
  object-fit: cover;
  height: 100%;
}

.laptopmediano{
  display: none;
  background-size: contain;
  object-fit: cover;
  height: 100%;
}

.laptogrande-pcmediana{
  display: none;
  background-size: contain;
  object-fit: cover;
  height: 100%;
}

.contslider{
  position: absolute;
  display: flex;
  align-items: center;
  align-items: center;
}

.titu{
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-items: center;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  justify-content: center;
  font-family: Oleo Script;
}

.contcontenido{
  display: block;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  margin-left: auto;
  margin-right: auto;
  --tw-space-y-reverse: 0;
    margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
    text-align: center;
}

label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
  margin: .4rem 0;
}


.pagination {
  position: absolute;
  bottom: 10px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.pagination-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #FDB819;
  border-radius: 100%;
  width: 16px;
  height: 16px;
  overflow: hidden;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 10px;
  text-align: center;
  transition: all 300ms;
}

.pagination-item:hover {
  transform: scale(2);
}

.pagination-item img {
  display: inline-block;
  max-width: none;
  height: 100%;
 
  transform: scale(1);
  opacity: 0;
  transition: all 900ms;
}

.pagination-item:hover img {
  opacity: 1;
  transform: scale(1);
}

input[id="1"]:checked~.slide {
  animation: none;
  transform: translate3d(0, 0, 0);
}

input[id="1"]:checked~.pagination .pagination-item[for="1"] {
  background: #FDB819;
}

input[id="2"]:checked~.slide {
  animation: none;
  transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2"]:checked~.pagination .pagination-item[for="2"] {
  background: #FDB819;
}

input[id="3"]:checked~.slide {
  animation: none;
  transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked~.pagination .pagination-item[for="3"] {
  background: #FDB819;
}

input[id="4"]:checked~.slide {
  animation: none;
  transform: translate3d(calc(-100% * 3), 0, 0);
}

input[id="4"]:checked~.pagination .pagination-item[for="4"] {
  background: #FDB819;
}

@keyframes autoplay {
  25% {
      transform: translate3d(calc(-100% * 0), 0, 0);
  }
  50% {
      transform: translate3d(calc(-100% * 1), 0, 0);
  }
  75% {
      transform: translate3d(calc(-100% * 2), 0, 0);
  }
  100% {
    transform: translate3d(calc(-100% * 3), 0, 0);
  }
}


.contcuerpo{
   background: rgb(55, 41, 16);
  background: radial-gradient(circle, rgba(55, 41, 16, 1) 0%, rgba(0, 0, 0, 1) 100%);

}


@media (min-width: 425px) { 
  .pagination {
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

@media (min-width: 640px) {  
  .item-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    height: 45vh;
  }

  .contcontenido{
    --tw-space-y-reverse: 0;
    margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
    text-align: left;
  }

  .tabled{
    display: flex;
  }

  .titu{
    padding-left: 0px;
    justify-content: flex-start;
  }

  .movil{
    display: none;
  }

  .sli{
    padding-left: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .titu{
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

}

@media (min-width: 768px){
  .sli{
    padding-left: 7rem;
    padding-right: 7rem;
    padding-left: 3.5rem;
  }
  .titu{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .item-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    height: 45vh;
  }

  .tabled{
    display: flex;
   
  }

}

@media (min-width: 1024px) { 
  .item-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;

    height: 45vh;
  }

  .contcontenido{
    --tw-space-y-reverse: 0;
    margin-top: calc(2.25rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2.25rem * var(--tw-space-y-reverse));
  }

  .sli{
    padding-left: 2rem;
  }

  .titu{
    font-size: 3rem;
    line-height: 1;
  }

  .tabled{
    display: none;
  }

  .laptopmediano{
    display: flex;
  }


 }

 @media (min-width: 1280px) {
  .item-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;

    height: 45vh;
  }
  .pc{
    display: flex;
  }
  .tabled{
    display: none;
  }
  .laptopmediano{
    display: none;
  }
  .laptogrande-pcmediana{
    display: flex;
  }
 }

 @media (min-width: 1536px) { 
  .item-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    height: 45vh;
  }

  .titu{
    font-size: 3.75rem;
    line-height: 1;
  }

  }
 
