<!-- <app-loading></app-loading> -->
<main class="fondo">
    <div class="contboton">
        <button [routerLink]="['/web']" class="custom-btn btn-12">
            <span>!! Click !!</span>
            <span>Ingresa Aquí</span>
        </button>
    </div>
</main>