@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Arimo:wght@700&family=Arizonia&family=Artifika&family=Berkshire+Swash&family=Lobster&family=Luckiest+Guy&family=Manrope:wght@500&family=Oleo+Script&family=Poppins:wght@500&family=Roboto:wght@500&family=Tangerine:wght@700&display=swap');

.conttitu{
    display: flex;
    height: 100%;
    gap: 1.25rem;
    align-items: center;
    justify-content: center;
    --tw-bg-opacity: 1;
    background-color: #C28C2E;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    padding: 1.25rem;
}

.titu{
    align-items: center;
    font-family: Luckiest Guy;
    font-size: 1.5rem/* 24px */;
    line-height: 2rem/* 32px */;
    letter-spacing: 0.025em;
}