<!-- LOGO - TITULO - OPCIONES -->
<section class="contenav">
   <!-- CONTEDOR LOGO -->
   <div class="cont-logo">
      <!-- LOGO -->
      <svg-icon class="logo" src="assets/web/svg/tecmusic.svg"></svg-icon>
   </div>
   <!-- MENU MOVIL -->
   <input type="checkbox" id="chk">
   <label for="chk" class="show-menu-btn">
      <span class="conticomenumovil">
         <svg-icon src="assets/web/svg/icomenumovil.svg" ></svg-icon>
      </span>
   </label>
   <!-- OPCIONES DESDE MOVIL -->
   <section class="menumovil" >
      <div class="contmoviltituBotones">
         <!-- CONTENIDO DEL TITULO -->
         <div class="contitu">
            <!-- TITULO VISIBLE DESDE LAPTOP -->
            <!-- SIGLAS DE CODE BOOKSTORE (LIBRERIA DE CODIGOS) -->
            <span class="titu">UPUMM <span class="titues ">COD-BS</span>  </span>
         </div>
         <!-- OPCIONES VISIBLES DESDE MOVIL -->
         <label class="btnselecciónmovil" for="chk" routerLinkActive="router-link-active-movil"  [routerLink]="['inicio']">Inicio</label>
         <label class="btnselecciónmovil" for="chk" routerLinkActive="router-link-active-movil"  [routerLink]="['info']">Información</label>
         <!-- BOTON MODAL CERRAR -->
         <label for="chk" class="hide-menu-btn">
            <svg-icon src="assets/web/svg/auth/x.svg"></svg-icon>
         </label>
      </div>
   </section>
   <!-- OPCIONES LAPTOP VISIBLE-->
   <div class="btnseleccionlaptop">
      <ul class="botoneslap">
         <label class="boton" routerLinkActive="router-link-active" [routerLink]="['inicio']">Inicio</label>
         <label class="boton" routerLinkActive="router-link-active" [routerLink]="['info']">Información</label>
      </ul>
   </div>
</section>