@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Arimo:wght@700&family=Arizonia&family=Artifika&family=Berkshire+Swash&family=Lobster&family=Luckiest+Guy&family=Manrope:wght@500&family=Oleo+Script&family=Poppins:wght@500&family=Roboto:wght@500&family=Tangerine:wght@700&display=swap');

/*-------------------------------------- LOGO - TITULO - OPCIONES--------------------------  */

.contenav {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	gap: 1.25rem;
	align-items: center;
	background: #1F445D;
	color: white;
	padding: 1.25rem;
	font-family: Oleo Script;
}


/*----------------------------------------- CONTENEDOR LOGO---------------------------------- */

.cont-logo {
	display: flex;
	width: 83.333333%;
	align-items: center;
}


/*----------------------------------------------- LOGO --------------------------------------- */

.logo {
	width: 2.5rem;
	height: 2.5rem;
	color: #1acbee;
}


/*----------------------------------------- ABRIR MENU MOVIL---------------------------------- */

.show-menu-btn,
.hide-menu-btn {
	transition: 0.4s;
	font-size: 30px;
	cursor: pointer;
	display: none;
}

.show-menu-btn {
	float: right;
	width: 16.666667%;
}


/*---------------------------------------- ICONO DE MENU MOVIL ---------------------------------*/

.conticomenumovil {
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}


/*---------------------------------------- ICONO MENUMOVIL------------------------------------- */

.menumovil a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
	color: #1acbeece;
}


/*----------------------------------------  MENU MOVIL ------------------------------------------*/

.menumovil {
	float: right;
	z-index: 1000;
	font-family: Poppins;
}


/*---------------------------------- CONTENDOR DE TITULO Y BOTONES------------------------------- */

.contmoviltituBotones {
	flex-direction: column;
	align-items: center;
	height: 100%;
}


/*------------------------------------ CONTENEDOR DEL TITULO------------------------------------- */

.contitu {
	display: flex;
	width: 100%;
	justify-content: center;
	--tw-text-opacity: 1;
	color: rgb(0 0 0 / var(--tw-text-opacity));
	justify-content: center;
	--tw-text-opacity: 1;
	color: rgb(0 0 0 / var(--tw-text-opacity));
}


/*------------------------------------------ TITULO ----------------------------------------------*/

.titu {
	font-family: Oleo Script;
	font-size: 1.875rem/* 30px */
	;
	line-height: 2.25rem/* 36px */
	;
}

.titues {
	--tw-text-opacity: 1;
	color: rgb(48 139 95 / var(--tw-text-opacity));
}


/*------------------------------------- BOTONES DE SELECCIÓN MOVIL -----------------------------------*/

.btnselecciónmovil {
	display: flex;
	border-width: 1px;
	--tw-border-opacity: 1;
	border-color: rgb(250 245 255 / var(--tw-border-opacity));
	padding: 2em;
	align-items: center;
	cursor: pointer;
	width: 100%;
	font-size: 1.125rem/* 18px */
	;
	line-height: 1.75rem/* 28px */
	;
	font-family: Oleo Script;
}

.btnseleccion:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
}

.botoneslap {
	display: flex;
	gap: 1.75rem;
	font-family: Oleo Script;
}


/*------------------------------------- BOTONES DE SELECCIÓN TABLED -----------------------------------*/

.btnseleccionlaptop {
	display: none;
	justify-content: flex-end;
}


/*----------------------------------------------- @MEDIA QUERIES ------------------------------------- */


/*----------------------------------------------------- MOVIL----------------------------------------- */

@media (min-width: 640px) {
	.menumovil {
		width: 33.333333%;
	}
}


/*----------------------------------------------------- TABLED----------------------------------------- */

@media (min-width: 768px) {
	.show-menu-btn {
		width: auto;
	}
	.contmoviltituBotones {
		font-size: 1.125rem/* 18px */
		;
		line-height: 1.75rem/* 28px */
		;
	}
	.btnseleccionlaptop {
		width: 25%;
	}
}


/*----------------- SECCIÓN ESPECIFICA QUE MENCIONA HASTA QUE MEDIDA SE REALIZARAN CAMBIOS  --------------- */


/*------------- HASTA ESTA MEDIDA MUESTRA EL MENU DE HAMBURGUESA , PASANDO ELLA CAMBIA EL DISEÑO -----------*/

@media screen and (max-width: 1023px) {
	.titu {
		color: rgba(76, 97, 97, 0.938);
		text-shadow: black 0.05em 0.05em 0.05em;
	}
	.hide-menu-btn {
		position: absolute;
		top: 40px;
		left: 40px;
	}
	.menuclick {
		display: none;
	}
	.navbar {
		z-index: 10000;
	}
	.show-menu-btn,
	.hide-menu-btn {
		display: block;
	}
	#chk:checked~.menumovil {
		right: 0;
		z-index: 1000;
	}
	.menumovil {
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #fff;
		right: -100%;
		top: 0;
		text-align: center;
		padding: 80px 0;
		line-height: normal;
		transition: 0.7s;
		z-index: 1000;
		overflow-y: auto;
		height: 100%;
		font-family: Poppins;
		font-style: normal;
		font-weight: 500;
		font-size: 13px;
		line-height: 19px;
		color: #313131;
		z-index: 1000;
	}
}

@media (min-width: 1024px) {
	.cont-logo {
		width: 16.666667%;
	}
	.titu {
		text-shadow: black 0.2em 0.2em 0.2em;
	}
	.menumovil {
		position: relative;
		width: 33.333333%;
		font-family: Poppins;
		font-style: normal;
		font-weight: 500;
		font-size: 13px;
		line-height: 19px;
		color: #313131;
		height: 75px;
		z-index: 1000;
	}
	.show-menu-btn,
	.hide-menu-btn {
		transition: 0.4s;
		font-size: 30px;
		cursor: pointer;
		display: none;
	}
	.conttituBotones {
		justify-content: space-between;
		flex-direction: row;
	}
	.contitu {
		--tw-text-opacity: 1;
		color: rgb(255 255 255 / var(--tw-text-opacity));
		height: 100%;
		align-items: center;
		--tw-text-opacity: 1;
		color: rgb(255 255 255 / var(--tw-text-opacity));
	}
	.contmoviltituBotones {
		justify-content: space-between;
		flex-direction: row;
	}
	.titues {
		--tw-text-opacity: 1;
		color: rgb(194 140 46 / var(--tw-text-opacity))
	}
	.btnselecciónmovil {
		display: flex;
		display: none;
		border-style: none;
		padding: 2em;
		width: 50%;
		outline: 2px solid transparent;
		outline-offset: 2px;
	}
	.btnseleccionlaptop {
		width: 16.666667%;
		display: flex;
		align-items: center;
	}
}

.boton {
	cursor: pointer;
	border-radius: 9999px;
	border-bottom-width: 3px;
	border-color: rgb(26 203 238 / var(--tw-border-opacity));
	color: rgb(26 203 238 / var(--tw-text-opacity));
	transition-delay: 150ms;
	padding: 0.5rem;
	border-color: #1acbeece;
	color: white;
	font-weight: 500;
}

.boton:hover {
	color: rgb(255 255 255 / var(--tw-text-opacity));
	--tw-scale-x: 1.1;
	--tw-scale-y: 1.1;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	background-color: #1acbee34;
	border-color: rgb(250 250 250)
}

.router-link-active {
	color: #00D5EC;
	border-color: rgb(250 250 250);
	border-color: #00D5EC;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.boton {
	background: #1acbee;
	background: linear-gradient(0deg, #2c2fdb 0%, #391294 100%);
	display: block;
	box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
	border-radius: 5px;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}


/*--------------------------------------------- menu movil ------------------------------------*/

.logo-d {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	display: flex;
	align-items: center;
	color: #313131;
}

.logo-nom {
	font-family: roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 34px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.07em;
	color: #313131;
}


/* Estilo de flecha para el navegador Dropdown */

.adornofiltroventa:before {
	content: "";
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fc0707;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, -100%);
	z-index: 1000;
}


/* Efecto de boton: Suscribe */

.custom-btn {
	color: #fff;
	background: transparent;
	cursor: pointer;
	transition: all 0.4s ease;
	position: relative;
	outline: none;
}

.btn-15 {
	background: #1acbeece;
	border: none;
	z-index: 1;
}

.btn-15:after {
	position: absolute;
	content: "";
	width: 0;
	height: 100%;
	top: 0;
	right: 0;
	z-index: -1;
	background-color: #fff;
	transition: all 0.3s ease;
}

.btn-15:hover {
	color: #263238;
}

.btn-15:hover:after {
	left: 0;
	width: 100%;
}


/* Evento de diseño clik en Menu */

.menuclick {
	display: none;
}


/* Transición suves */

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fadeIn {
	animation-name: fadeIn;
}

.fast {
	-webkit-animation-duration: 0.4s;
	animation-duration: 0.4s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}


/* menu responsive */

#chk {
	position: absolute;
	visibility: hidden;
	z-index: -1111;
}

#nosotrospc {
	position: absolute;
	visibility: hidden;
	z-index: -1111;
}

.content {
	padding: 0 20px;
	max-width: 700px;
	margin: 0 20px 0;
}

.content p {
	text-align: justify;
}

.menu-descipr {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	text-transform: uppercase;
	color: #263238;
}

.dropdown {
	position: relative;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	max-width: 1170px;
	transition-duration: 10ms;
	padding: 0px 1px;
}

.dropdown-content:before {
	content: "";
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid rgba(255, 255, 255, 0);
	position: absolute;
	left: 50%;
	top: 0;
	width: 100%;
	transform: translate(-50%, -100%);
}

.dropdown-content a {
	color: black;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #ddd;
	transition: 5s;
	transition-duration: 6s;
	transition-duration: 120ms;
	transition-duration: 1s, 15s;
	transition-duration: 10s, 30s, 230ms;
	transition-duration: inherit;
	transition-duration: initial;
	transition-duration: unset;
}

.dropdown:hover .dropdown-content {
	display: flex;
}

.dropdown:hover .dropbtn {
	background-color: #1acbeece;
}