

<!-- <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#1acbee" type = "ball-scale-multiple" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner> -->
<!-- <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#1acbee" type = "ball-spin" [fullScreen] = "true"><p style="color: white" >  Cargando... </p></ngx-spinner> -->
<!-- <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#1acbee" type = "ball-triangle-path" [fullScreen] = "true"><p style="color: white" >  Cargando... </p></ngx-spinner> -->
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#1acbee" type = "fire" [fullScreen] = "true"><p style="color: #1acbee" >  Cargando... </p></ngx-spinner>
<!-- <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#1acbee" type = "pacman" [fullScreen] = "true"><p style="color: white" >  Cargando... </p></ngx-spinner> -->
<!-- <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#1acbee" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" >  Cargando... </p></ngx-spinner> -->
<!-- <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#1acbee" type = "square-loader" [fullScreen] = "true"><p style="color: white" >  Cargando... </p></ngx-spinner> -->
